.animated-header {
  animation: slideDownFadeIn 600ms ease forwards;
}

.fade-slide-up {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeSlideUp 500ms ease forwards;
}

.delay-1 {
  animation-delay: 200ms;
}

@keyframes slideDownFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeSlideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes photoFadeZoom {
  from {
    opacity: 0;
    transform: scale(0.85);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.avatar-animate {
  animation: photoFadeZoom 500ms ease-in-out;
}