<ion-header class="animated-header">
  <ion-toolbar color="primary">
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Avatar con foto personalizada o imagen por defecto -->
  <ion-avatar
    class="fade-slide-up auto-center"
    style="width: 120px; height: 120px; margin: 0 auto 16px;"
  >
    <img *ngIf="photo; else defaultAvatar" [src]="photo" />
    <ng-template #defaultAvatar>
      <img src="assets/avatar-placeholder.png" />
    </ng-template>
  </ion-avatar>

  <!-- Botón para tomar o cambiar la foto -->
  <ion-button expand="block" color="medium" (click)="takePhoto()" class="fade-slide-up delay-1">
    Cambiar Foto de Perfil
  </ion-button>

  <!-- Datos del usuario -->
  <ion-card class="fade-slide-up delay-2">
    <ion-card-header>
      <ion-card-title>👤 {{ user.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>✉️ {{ user.email }}</p>
    </ion-card-content>
  </ion-card>

 <ion-button expand="block" color="primary" (click)="mostrarSelectorHora()" class="fade-slide-up delay-3 ion-margin-top">
  Configurar Hora de Notificación
</ion-button>

  <!-- Botón para cerrar sesión -->
  <ion-button type="button" expand="block" color="danger" (click)="logout()" class="fade-slide-up delay-3 ion-margin-top">
    Cerrar sesión
  </ion-button>

</ion-content>
